<% provide(:title, "お問合せありがとうございました")%>
<div class="row">
  <div class="col mx-auto">
    <div class="page-title mx-auto text-center">
      <p><i class="far fa-paper-plane fa-5x"></i></p>
      <h2 class="my-5">お問合せが完了致しました。</h2>
      <p>今後とも「SYNERGY」をよろしくお願いいたします。</p>
      <%= link_to "ホーム画面に戻る", root_path, class:"btn btn-success" %>
    </div>
  </div>
 </div>