<% provide(:title, "投稿ワード検索")%>
<%= render "public/posts/post_search"%>
<h5 class="page-title">検索ワード　"<%= @content %>"で検索した結果、該当する投稿が<%= @records.count%>件ありました。</h5>
<div class="row">
  <% if @records.first.nil?%>
    <div class="page-title mx-auto text-center">
      <p><i class="fas fa-comment-slash fa-5x"></i></p>
      <h2 class="my-5">該当する投稿がありません。</h2>
      <p>気になる本やニュース、質問などのタイトルで検索してみてください。</p>
    </div>
  <% else %>
    <%= render "public/posts/index", posts: @records%>
  <% end %>
</div>