// Place all the styles related to the public/chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$titleColor: #E6FFE9;
$baseColor: #85CDFA;
$leftTextColor: #fff; 
$rightTextColor: #D8D8D8;


.chat_container {
  padding: 0;
  background: $baseColor;
  overflow: hidden;
  max-width: 80%;
  margin: 20px auto;
  font-size: 80%;

  .chat_title {
    background: $titleColor;
    padding: 10px;
    text-align: center;
    font-size: 150%;
    color: #000;
  }
  
  .chat_contents {
    padding: 10px;
    overflow: hidden;
    line-height: 135%;

    &.scroll {
      height: 500px;
      overflow-y: scroll;
    }

    .left_chat {
      width: 100%;
      position: relative;
      display: block;
      margin-bottom: 5px;
      max-width: 75%;
      clear: both;

      .left_image {
        width: 50px;
        position: absolute;
        top: 15px;
      }

      .left-text {
        margin-left: 70px;

        .name {
          font-size: 80%;
          color: $leftTextColor;
        }
      }
      
      .text {
        margin: 0;
        position: relative;
        padding: 10px;
        border-radius: 20px;
        background-color: $leftTextColor;
        
        &::after {
          content: '';
          position: absolute;
          display: block;
          left: -10px;
          top: 10px;
          border-right: 20px solid $leftTextColor;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
        }

      }
     }
      /* 自分の会話 */
      .right_chat {
        position: relative;
        display: block;
        margin: 5px 0;
        max-width: 75%;
        float: right;
        margin-right: 15px;
        clear: both;
        /* コメントエリア */
        .text {
          padding: 10px;
          border-radius: 20px;
          background-color: $rightTextColor;
          margin: 0;
          margin-left: 80px;
          /* 吹き出し */
          &::after {
            content: '';
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            right: -10px;
            top: 8px;
            border-left: 20px solid $rightTextColor;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
          }

        }
      }
  }
}