<% post.comments.each do |comment| %>
    <div class="border mb-3">
      <div class="mt-1">
      <%= attachment_image_tag(comment.user, :profile_image,:fill,60,60, size:"60x60", fallback: "no_image.png")%>
       <%=link_to full_name(comment.user), user_path(comment.user),class:"text-dark" %>
      </div>
       
       <div class="mt-3 ml-3">
       <%= comment.comment %>
       </div>
       <% if comment.user == current_user %>
         <div class="d-flex justify-content-end mb-1">
            <%= link_to post_comment_path(comment.post,comment),method: :delete, remote: true ,class:"btn btn-outline-danger btn-sm" do%>
             <i class="fas fa-trash"></i>
            <% end %>
         </div>
       <% end %>
    </div>
<% end %>