<%= form_with model:[@post,@comment] do |f|%>
  <div class="form-floating">
    <%= f.text_area :comment, rows:'5',class:"form-control"%>
  </div>
    <%= f.submit 'コメントする',class:"btn btn-outline-success"%>
<% end %>