<% unless current_user == user %> 
  <% if current_user.following?(user) %>
    <%= link_to  user_relationships_path(user), method: :delete,remote: true, id: "unfollow", class: "btn btn-danger" do %>
      <i class="fas fa-user-alt-slash"><span class="mr-2"></span>フォローを外す</i>
    <% end %>
  <% else %>
    <%= link_to  user_relationships_path(user), method: :post,remote: true, id: "follow", class: "btn btn-success" do %>
      <i class="fas fa-user-friends"><span class="mr-2"></span>フォローする</span></i>
    <% end %>
  <% end %>
<% end %>