<% provide(:title, "フォロー一覧")%>
<div class="container">
 <h5><%= full_name(@user)%>さんのフォロー</h5>
  <div class="row">
    <% if @users.exists? %>
      <%= render 'public/users/index', users: @users %>
    <% else %>
      <p>ユーザーはいません</p>
    <% end %>
  </div>
</div>