<% provide(:title, "フォロワー一覧")%>
<h3 class="page-title"><%= full_name(@user)%>さんのフォロワー</h3>
    <% if @users.exists? %>
      <%= render 'public/users/index', users: @users %>
    <% else %>
      <div class="mx-auto text-center">
        <p><i class="fas fa-users-slash fa-5x"></i></p>
        <h2 class="page-title my-5">フォロワーはいません。</h2>
      </div>
    <% end %>
  </div>