<% provide(:title, "サイト詳細")%>
<div class="display-4 text-center mb-5">SYNERGYとは</div>
<div class="row">
  <div class="col-md-7 order-md-2">
    <h3 class="about-title">学びをアウトプットしたい方へ</h3>
    <p class="lead mt-5">日々の小さな学びをアウトプットすることで、知識の定着を図ることができます。日々の習慣が自分の成長だけでなく、子どもたちの成長にも繋がります。</p>
  </div>
  <div class="col-md-5 order-md-1">
    <div class="teacher-img"></div>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-7">
    <h3 class="about-title">時間が取りにくい方へ</h3>
    <p class="lead mt-5">多忙な中でも自己研鑽を続けているあなたへ。授業づくりのヒントや情報に出会えるチャンスがあるかもしれません。</p>
  </div>
  <div class="col-md-5">
    <div class="time-img"></div>
  </div>
</div>
    
<hr>
    
<div class="row">
  <div class="col-md-7 order-md-2">
    <h3 class="about-title">仲間と繋がりたい方へ</h3>
    <p class="lead mt-5">一人だけでなく、共に高め合う仲間がいることで、より大きく、強く成長できます。仲間を探してみませんか？</p>
  </div>
  <div class="col-md-5 order-md-1">
    <div class="communication-img"></div>
  </div>
</div>