<div class="container">
  <div class="row">
    <div class="top-img">
      <div class="signup-space">
        <h2 class="mb-5">教員の学びを楽しく</h2>
        <p class="text-center mt-5">
        <%= link_to "利用する", new_user_registration_path, class:"btn btn-success btn-lg" %>
        </p>
      </div>
    </div>
  <div class="container mt-5">
    <h2>最新の投稿</h2>
  </div>
</div>