<div class="container">
  <div class="row">
    <div class="top-img">
      <div class="signup-space text-center">
        <h2 class="mb-2">教員の学びを楽しく</h2>
        <p>小さな学びを積み重ねてみませんか？</p>
        <p class="mt-2"><%= link_to "登録する", new_user_registration_path, class:"btn btn-success btn-lg" %></p>
      </div>
    </div>
  <div class="container mt-5">
    <h2>最新の投稿</h2>
  </div>
</div>