<% genres.each do |genre| %>
<tbody>
  <tr>
    <td><%= genre.name %></td>
    <td><%= link_to "編集する", edit_admin_genre_path(genre), class:"btn btn-success" %></td>
    <td><%= link_to "削除する", admin_genre_path(genre), method: :delete, class:"btn btn-danger"%></td>
  </tr>
</tbody>
<% end %>