<% provide(:title, "投稿ジャンル一覧") %>
<div class="container">
    <div class="row text-center">
        <div class="col">
            <h2>投稿ジャンル一覧</h2>
        </div>
    </div>
    <%= render "admin/genres/new", genre: @genre%>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>ジャンル</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="genre_ajax">
            <%= render 'admin/genres/index', genres: @genres %>
          </tbody>
        </table>
      </div>
    </div>
</div>