<% provide(:title, "投稿一覧")%>
<%= render "admin/posts/post_search"%>
<%= link_to 'ちゃーと', admin_post_chart_path %>
<div class="row jscroll mt-4">
  <%= render "admin/posts/index", posts: @posts%>
  <%= paginate @posts %>
</div>