<% provide(:title, "投稿検索")%>
<%= render "admin/posts/post_search"%>

<div class="container">
  <h5>検索ワード　"<%= @content %>"</h5>
  <div class="row">
    <%= render "admin/posts/index", posts: @records%>
  </div>
</div>