<% provide(:title, "投稿検索")%>
<%= render "admin/posts/post_search"%>
<h5 class="page-title my-3">検索ワード　"<%= @content %>"</h5>
  <div class="row">
    <% if @records.first.nil?%>
    <div class="mx-auto text-center">
      <p><i class="fas fa-comment-slash fa-5x"></i></p>
      <h2 class="page-title my-5">該当する投稿がありません。</h2>
    </div>     
    <% else %>
      <%= render "admin/posts/index", posts: @records%>
    <% end %>
  </div>