/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';
  @import 'summernote-bs4';
  
  $Greencolor: #E6FFE9;
  
  body,html{
    margin: 0;
    padding: 0;
    background: #EEEEEE;
  }
  
  header{
    background: $Greencolor;
    .nav-item{
      margin: 0 20px;
    }
  }
  
  footer{
    background: $Greencolor;
  }
  
// linkのhover

.top-radius {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #111111;
  background: #43FF6B;
  border-bottom: solid 4px #009900;
  border-radius: 15px 15px 0 0;
  transition: .4s;
}

.top-radius:hover {
  background: #ADFF2F;
  color: #FFF;
}