/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';
  @import 'summernote-bs4';
  
  $Greencolor: #E6FFE9;
  
  body,html{
    margin: 0;
    padding: 0;
    background: #EEEEEE;
  }
  
  #wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header{
    background: $Greencolor;
    .nav-item{
      margin: 0 20px;
    }
  }
  footer{
    background: $Greencolor;
    margin-top: auto;
  }
  
// linkのhover

.top-radius {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 8px 10px 5px 10px;
  text-decoration: none;
  color: #111111;
  background: #43FF6B;
  border-bottom: solid 4px #009900;
  border-radius: 15px 15px 0 0;
  transition: .4s;
}

.top-radius:hover {
  background: #ADFF2F;
  color: #FFF;
}

/* Loading背景画面設定　*/
#splash {
/*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: white;
  text-align: center;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width: 260px;
}

/* fadeUpをするアイコンの動き */

.fadeUp{
animation-name: fadeUpAnime;
animation-duration: 0.5s;
animation-fill-mode:forwards;
opacity: 0;
}


@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}