/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  @import "bootstrap";
  @import 'font-awesome-sprockets';
  @import 'font-awesome';
  @import 'summernote-bs4';

  $Greencolor: #E6FFE9;

// -- 全体の見栄え調整 -- //
  body,html{
    margin: 0;
    padding: 0;
    background: #EEEEEE;
  }

  a{
    text-decoration: none;
    color: #000;

    &:hover{
      text-decoration: none;
      }
  }

  #wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  header{
    background: $Greencolor;
    .nav-item{
      margin: 0 20px;
    }
  }
  footer{
    background: $Greencolor;
    color: black;
    margin-top: auto;

    #copyright{
      font-size: 10px;
      color: #6c757d;
    }
  }

.page-title{
  font-family: 'Kosugi Maru', sans-serif;
}

// -- -- //

// -- headerのボタン -- //

.nav-item{
  font-family: 'Kosugi Maru', sans-serif;
}

.btn-vertical-border {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 11px 5px 15px;
  text-decoration: none;
  color: #67c5ff;
  transition: .4s;
}

.btn-vertical-border:before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 4px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 3px;
  background:#67c5ff;
}

.btn-vertical-border:after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 4px;
  height: 100%;
  top:0;
  left: 100%;
  border-radius: 3px;
  background:#67c5ff;
}

.btn-vertical-border:hover:before, .btn-vertical-border:hover:after {
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}

// -- -- //

// -- Topページの画面全体レイアウト -- //
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: white;
  text-align: center;
}

#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#splash_logo img {
  width: 260px;
}
// -- -- //

// -- cardが浮き出るレイアウト -- //

.card-wrap{
  transition-duration: 0.5s;
  background-color: white;
  cursor: pointer;

  &:hover{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    transform: translateY(-0.5px);
    transition-duration: 0.3s;
  }
}

// -- -- //

.public_login{
  border-bottom: thick double #32a1ce;
  font-weight: bold;
}


.pagination {
  display: none;
}

.jscroll-inner {
  display: flex;
  flex-wrap: wrap;
}

#page_top{
  width: 70px;
  height: 50px;
  position: fixed;
  right: 30px;
  bottom: 50px;
  opacity: 0.8;
  border-radius: 15px;
  background-color: #008000;
  
  &:hover{
    opacity: 0.5;
    animation: jump 0.9s linear 0s 5; // jumpアニメを0.9s一定に5回繰り返す
  }
}

#page_top a{
  position: relative;
  display: block;
  width: 70px;
  height: 35px;
  text-decoration: none;
  text-align: center;
  
  &:before{
    font-family: "Font Awesome 5 Free";
    content: '\f52e';
    font-weight: 900;
    font-size: 25px;
    color: #fff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;
  }
}

@keyframes jump {
  0%   { transform: scale(1.0, 1.0) translate(0%, 0%); }
  10%  { transform: scale(1.1, 0.9) translate(0%, 5%); }
  40%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
  50%  { transform: scale(1.0, 1.0) translate(0%, 0%); }
  60%  { transform: scale(0.9, 1.2) translate(0%, -100%); }
  75%  { transform: scale(0.9, 1.2) translate(0%, -20%); }
  85%  { transform: scale(1.2, 0.8) translate(0%, 15%); }
  100% { transform: scale(1.0, 1.0) translate(0%, 0%); }
}