<% provide(:title, "ユーザー一覧")%>
<%= render "admin/users/user_search"%>
<div class="row">
  <%= render "admin/users/index", users: @users%>
</div>
<div class="d-flex justify-content-center my-3">
  <%= paginate @users %>
</div>