<% provide(:title, "ユーザー検索")%>
<%= render "admin/users/user_search"%>

<div class="container">
  <h5>検索ワード　"<%= @content %>"</h5>
  <div class="row">
      <%= render "admin/users/index", users: @records  %>
  </div>
</div>