<%= form_with url: user_search_path(current_user), local: true, method: :get do |f|%>
<div class="d-flex">
  <%= f.text_field :content, placeholder: "気になるワードでユーザーを検索する", class: 'col-sm-6 form-control ' %>
  <%= f.button :type => "submit", class:"btn btn-outline-secondary" do%>
  <i class="fas fa-search"></i>
  <% end %>
</div>
<% end %>