<% provide(:title, "退会確認")%>
<div class="container">
  <div class="row">
    <div class="mx-auto text-center">
      <div>
        <p><i class="fas fa-exclamation-triangle fa-5x"></i></p>
        <h2 class="my-5">退会手続きの前にご確認ください。</h2>
        <p>
          退会手続きを行い、退会が完了された場合<br>
          <span class="text-danger font-weight-bold">すべてのデータが削除されます閲覧できなくなります。</span><br>
          よろしければ、「退会する」をクリックしてください<br>
        </p>
      </div>
      <div class="d-flex justify-content-around mt-5">
        <%= link_to "退会しない",user_path(current_user),class:"btn btn-primary"%>
        <%= link_to "退会する",user_out_path(current_user),method: :patch,class:"btn btn-danger"%>
      </div>
    </div>
  </div>
</div>