<% if flash[:notice] %>
  <p class="alert alert-success text-center m-5"><%= flash[:notice] %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
<% elsif flash[:alert] %>
   <p class="alert alert-danger text-center m-5"><%= flash[:alert] %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
<% end %>