<footer>
  <div class="d-flex justify-content-center mt-2">
    <%= link_to root_path do%>
      <p>Learning Is Fun</p>
    <% end%>
    <%= link_to new_contact_path do%>
      <i class="far fa-envelope fa-lg ml-2"></i>
    <% end %>
  </div>
    <div class="d-flex justify-content-center">
    <p id="copyright">Copyright © SYNERGY All Rights Reserved</p>
  </div>
</footer>